body {
    background-color: #e9eef4;
}

app-bar {
    display: inline-block;
}

app-main {
    display: block;
}

.navbar {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5);    

}

.navbar a {
    font-size: 28px;
    font-weight: bold;
    
}

.card {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transition: 1s;
    cursor: pointer;
}


.card:hover {
    transform: scale(1.1,1.1);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
} 
